n8n/workflows/workflow-3-daily-report.json
{
  "name": "3. Daily AI Report + Anomaly Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, -200],
      "id": "33333333-3333-3333-3333-333333333301",
      "name": "Weekdays 08:00"
    },

    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/overview",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [240, -200],
      "id": "33333333-3333-3333-3333-333333333302",
      "name": "GET Dashboard Overview"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/ai/daily-summary",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [480, -200],
      "id": "33333333-3333-3333-3333-333333333303",
      "name": "GET AI Daily Summary"
    },
    {
      "parameters": {
        "jsCode": "const aiResult = $input.first().json;\n\n// Zapisujemy wynik AI do tabeli ai_insights jako cache\nconst content = JSON.stringify(aiResult).replace(/'/g, \"''\");\nconst insightType = 'daily_summary';\n\nreturn [{\n  json: {\n    query: `INSERT INTO ai_insights (insight_type, content, generated_at)\\nVALUES ('${insightType}', '${content}'::jsonb, NOW())`,\n    summary: aiResult.summary || 'No summary',\n    insight_count: (aiResult.insights || []).length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -200],
      "id": "33333333-3333-3333-3333-333333333304",
      "name": "Prepare Cache SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, -200],
      "id": "33333333-3333-3333-3333-333333333305",
      "name": "Cache AI Insights",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dashboard PostgreSQL"
        }
      }
    },

    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 100],
      "id": "33333333-3333-3333-3333-333333333306",
      "name": "Every 15 Min (Anomaly Check)"
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  symbol,\n  price_usd,\n  price_change_24h,\n  timestamp\nFROM crypto_prices\nWHERE timestamp >= NOW() - INTERVAL '15 minutes'\n  AND ABS(price_change_24h) > 5\nORDER BY ABS(price_change_24h) DESC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 100],
      "id": "33333333-3333-3333-3333-333333333307",
      "name": "Check Price Anomalies",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dashboard PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 100],
      "id": "33333333-3333-3333-3333-333333333308",
      "name": "Anomaly Found?"
    },
    {
      "parameters": {
        "jsCode": "const anomalies = $input.all().map(i => i.json);\n\nconst lines = anomalies.map(a =>\n  `${a.symbol}: $${parseFloat(a.price_usd).toFixed(2)} | zmiana 24h: ${parseFloat(a.price_change_24h).toFixed(2)}%`\n).join('\\n');\n\nconsole.log('🚨 ANOMALIA CENOWA WYKRYTA:');\nconsole.log(lines);\n\n// Tutaj można dodać: Send Email, Slack, Webhook itp.\n// Na potrzeby demo: tylko log\nreturn [{\n  json: {\n    alert_type: 'price_anomaly',\n    affected_symbols: anomalies.map(a => a.symbol),\n    message: `Wykryto anomalię cen:\\n${lines}`,\n    detected_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 60],
      "id": "33333333-3333-3333-3333-333333333309",
      "name": "Log / Alert Anomaly"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_insights (insight_type, content, generated_at)\nVALUES ('price_anomaly', '{{ $json.message.replace(/'/g, \"''\") }}'::jsonb, NOW())\nON CONFLICT DO NOTHING",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 60],
      "id": "33333333-3333-3333-3333-333333333310",
      "name": "Save Anomaly to DB",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dashboard PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Brak anomalii - cicho zakończ\nconsole.log('✅ Brak anomalii cenowych w ostatnich 15 minutach.');\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 180],
      "id": "33333333-3333-3333-3333-333333333311",
      "name": "No Anomaly – Skip"
    }
  ],
  "connections": {
    "Weekdays 08:00": {
      "main": [[{ "node": "GET Dashboard Overview", "type": "main", "index": 0 }]]
    },
    "GET Dashboard Overview": {
      "main": [[{ "node": "GET AI Daily Summary", "type": "main", "index": 0 }]]
    },
    "GET AI Daily Summary": {
      "main": [[{ "node": "Prepare Cache SQL", "type": "main", "index": 0 }]]
    },
    "Prepare Cache SQL": {
      "main": [[{ "node": "Cache AI Insights", "type": "main", "index": 0 }]]
    },
    "Every 15 Min (Anomaly Check)": {
      "main": [[{ "node": "Check Price Anomalies", "type": "main", "index": 0 }]]
    },
    "Check Price Anomalies": {
      "main": [[{ "node": "Anomaly Found?", "type": "main", "index": 0 }]]
    },
    "Anomaly Found?": {
      "main": [
        [{ "node": "Log / Alert Anomaly",  "type": "main", "index": 0 }],
        [{ "node": "No Anomaly – Skip",    "type": "main", "index": 0 }]
      ]
    },
    "Log / Alert Anomaly": {
      "main": [[{ "node": "Save Anomaly to DB", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "daily-report-v1-2024",
  "meta": {
    "instanceId": "REPLACE_WITH_YOUR_N8N_INSTANCE_ID"
  },
  "id": "daily-report-wf-03",
  "tags": [
    { "name": "ai-insights" },
    { "name": "anomaly-detection" }
  ]
}
