n8n/workflows/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "[\"BTCUSDT\",\"ETHUSDT\",\"BNBUSDT\",\"SOLUSDT\",\"XRPUSDT\",\"ADAUSDT\",\"DOGEUSDT\",\"AVAXUSDT\",\"TRXUSDT\",\"DOTUSDT\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "cc2b8afe-0069-4347-9129-93ab13edec31",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-680, 560]
    },
    {
      "parameters": {
        "jsCode": "// Używamy $input.all(), aby pobrać wszystkie rekordy przekazane do węzła\nconst items = $input.all();\n\nconst rows = items.map(item => {\n  // Dane każdego tickera znajdują się wewnątrz właściwości .json\n  const t = item.json;\n  \n  const symbol = t.symbol.replace(\"USDT\", \"\");\n  const price  = parseFloat(t.lastPrice) || 0;\n  const vol    = Math.round(parseFloat(t.quoteVolume) || 0);\n  const change = parseFloat(t.priceChangePercent) || 0;\n  \n  return `('${symbol}', ${price.toFixed(8)}, 0, ${vol}, ${change.toFixed(4)})`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    query: `INSERT INTO crypto_prices (symbol, price_usd, market_cap, volume_24h, price_change_24h)\\nVALUES\\n${rows}\\nON CONFLICT DO NOTHING`,\n    count: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 560],
      "id": "126dd692-918e-40b2-8e95-0dc7c4fbe4ae",
      "name": "Normalize → Bulk SQL"
    },
    {
      "parameters": {
        "jsCode": "// Opcjonalnie: cleanup starych danych (trzymaj tylko 30 dni historii)\nreturn [{\n  json: {\n    query: \"DELETE FROM crypto_prices WHERE timestamp < NOW() - INTERVAL '30 days'\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 560],
      "id": "ecdbbc42-e1ec-41fe-94ee-5cff16d7c89c",
      "name": "Prepare Cleanup SQL"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "ac83c862-2881-4f2e-8691-107d5b6c344a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-980, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "1873e74e-afd8-403c-9090-2f326d3d7526",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [-100, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query  }}",
        "options": {}
      },
      "id": "af09e4ef-444a-4b45-b9b5-bc832969a094",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [460, 460]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-980, 900],
      "id": "9fc42824-747f-44df-ac56-ddb214380eb7",
      "name": "Every Hour"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/business/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-680, 780],
      "id": "882691f0-ae7d-4a0e-9c7b-12b5b31db54e",
      "name": "GET BBC Business RSS"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().slice(0, 10);\n\nif (items.length === 0) return [];\n\nconst esc = (s) => (s || '')\n  .replace(/'/g, \"''\")\n  .replace(/\\$(\\d)/g, '$ $1')\n  .substring(0, 500);\n\nconst rows = items.map(item => {\n  const a = item.json;\n  const title  = esc(a.title);\n  const desc   = esc(a.content || a.summary || a.description || '');\n  const url    = (a.link || '').substring(0, 1000);\n  const pubAt  = a.pubDate || a.isoDate || new Date().toISOString();\n  return `('${title}', '${desc}', 'BBC Business', '${url}', '${pubAt}')`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    query: `INSERT INTO news_articles (title, description, source, url, published_at)\\nVALUES\\n${rows}\\nON CONFLICT DO NOTHING`,\n    article_count: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 780],
      "id": "2894d3f7-77fe-4da5-b4c7-77c5573c2460",
      "name": "Normalize News"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [-100, 780],
      "id": "2a15d907-936b-4f52-ad41-4f0f3140221c",
      "name": "INSERT news_articles"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "52.23"
            },
            {
              "name": "longitude",
              "value": "21.01"
            },
            {
              "name": "current",
              "value": "temperature_2m,relative_humidity_2m,weather_code"
            },
            {
              "name": "timezone",
              "value": "Europe/Warsaw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-680, 1000],
      "id": "836357e8-2df8-4891-baad-19338a3a0406",
      "name": "GET Open-Meteo Warsaw"
    },
    {
      "parameters": {
        "jsCode": "const w = $input.first().json;\n\nconst current  = w.current || {};\nconst temp     = current.temperature_2m ?? 0;\nconst humidity = current.relative_humidity_2m ?? 0;\n\n// WMO weather code to description\nconst wmoDesc = {\n  0: 'clear sky', 1: 'mainly clear', 2: 'partly cloudy', 3: 'overcast',\n  45: 'foggy', 48: 'icy fog', 51: 'light drizzle', 53: 'moderate drizzle',\n  55: 'heavy drizzle', 61: 'light rain', 63: 'moderate rain', 65: 'heavy rain',\n  71: 'light snow', 73: 'moderate snow', 75: 'heavy snow', 80: 'rain showers',\n  85: 'snow showers', 95: 'thunderstorm', 99: 'thunderstorm with hail'\n};\nconst code      = current.weather_code ?? 0;\nconst condition = (wmoDesc[code] || 'unknown').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    query: `INSERT INTO weather_data (city, temperature, humidity, weather_condition)\\nVALUES ('Warsaw', ${temp}, ${humidity}, '${condition}')`,\n    city: 'Warsaw',\n    temp,\n    humidity,\n    condition\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 1000],
      "id": "62f03a8b-6f81-4bbf-ae4c-12690334afa2",
      "name": "Normalize Weather"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [-100, 1000],
      "id": "cf8c0caa-cce2-4e59-a875-207f4329285f",
      "name": "INSERT weather_data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM news_articles WHERE fetched_at < NOW() - INTERVAL '7 days';\nDELETE FROM weather_data WHERE timestamp < NOW() - INTERVAL '14 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [200, 900],
      "id": "143f6e38-765a-4971-a064-a708ed64bc8b",
      "name": "Cleanup Old Data"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/overview",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-660, 1320],
      "id": "cfdd130a-ed93-4b16-b617-cfdaab4dd26a",
      "name": "GET Dashboard Overview"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/ai/daily-summary",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-420, 1320],
      "id": "38b8d38c-6fa1-4c00-b447-176bee39b520",
      "name": "GET AI Daily Summary"
    },
    {
      "parameters": {
        "jsCode": "const aiResult = $input.first().json;\nconst content = JSON.stringify(aiResult).replace(/'/g, \"''\");\nreturn [{\n  json: {\n    query: `INSERT INTO ai_insights (insight_type, content, generated_at)\\nVALUES ('daily_summary', '${content}'::jsonb, NOW())`,\n    summary: aiResult.summary || 'No summary',\n    insight_count: (aiResult.insights || []).length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 1200],
      "id": "cfd71952-0c4b-4920-bdfd-57c0ff6cfd2b",
      "name": "Prepare Cache SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [200, 1200],
      "id": "b6c5fa97-278d-426b-af94-1fb616cd40c8",
      "name": "Cache AI Insights"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-1160, 1780],
      "id": "65af378f-6e05-4834-901a-b6b0b8d9584b",
      "name": "Every 15 Min (Anomaly Check)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol, price_usd, price_change_24h, timestamp\nFROM crypto_prices\nWHERE timestamp >= NOW() - INTERVAL '15 minutes'\n  AND ABS(price_change_24h) > 5\nORDER BY ABS(price_change_24h) DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [-940, 1780],
      "id": "0fb56a6f-5d54-4c4d-ae6a-15e78b3b80f9",
      "name": "Check Price Anomalies"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-760, 1780],
      "id": "0ab5452b-1209-4717-835a-02cafc7432f1",
      "name": "Anomaly Found?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\n// ODFILTRUJ TYLKO POPRAWNE ANOMALIE (z symbolem i ceną)\nconst anomalies = items.filter(i => i.symbol && i.price_usd && !isNaN(parseFloat(i.price_usd)));\n\n// ODFILTRUJ TYLKO POPRAWNE WYJAŚNIENIA (z explanation, bez symbolu)\nconst explanations = items.filter(i => i.explanation && !i.symbol);\n\nconsole.log(`Znaleziono ${anomalies.length} anomalii i ${explanations.length} wyjaśnień`);\n\n// Weź tylko tyle wyjaśnień ile jest anomalii\nconst limitedExplanations = explanations.slice(0, anomalies.length);\n\n// Zbuduj listę anomalii (bez wyjaśnień w środku)\nconst anomalyLines = anomalies.map(a => {\n  const price = parseFloat(a.price_usd).toFixed(2);\n  const change = parseFloat(a.price_change_24h).toFixed(2);\n  return `${a.symbol}: USD ${price} | change 24h: ${change}%`;\n}).join('\\n');\n\n// Zbuduj listę wyjaśnień (osobno, na dole)\nconst explanationLines = limitedExplanations.map((e, idx) => {\n  return `${idx+1}. ${e.explanation}`;\n}).join('\\n\\n---\\n\\n');\n\n// Połącz wiadomość\nconst message = `⚠️ *ANOMALIE CENOWE (${anomalies.length})*\\n\\n${anomalyLines}\\n\\n---\\n🤖 *WYJAŚNIENIA:*\\n\\n${explanationLines}`;\n\n// Zapisz wszystko do bazy\nconst allExplanations = limitedExplanations.map(e => e.explanation).join('\\n---\\n');\n\nconst content = JSON.stringify({\n  alert_type: 'price_anomaly',\n  affected_symbols: anomalies.map(a => a.symbol),\n  message: message,\n  detailed_explanations: allExplanations,\n  detected_at: new Date().toISOString()\n}).replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    query: `INSERT INTO ai_insights (insight_type, content, generated_at) VALUES ('price_anomaly', '${content}'::jsonb, NOW())`,\n    affected_symbols: anomalies.map(a => a.symbol),\n    message: message,\n    explanation: allExplanations\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 1780],
      "id": "f2de70ee-dd28-4647-91da-7dd9b1c0679e",
      "name": "Log / Alert Anomaly"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [200, 1920],
      "id": "7d189b36-04ca-411b-8f7c-8a1b0a7afd7b",
      "name": "Save Anomaly to DB"
    },
    {
      "parameters": {
        "jsCode": "console.log('No price anomalies in the last 15 minutes.');\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-580, 2000],
      "id": "7c7a9a1a-01ce-4d65-9d59-a05459bb1c89",
      "name": "No Anomaly – Skip"
    },
    {
      "parameters": {
        "jsCode": "// Formatowanie odpowiedzi z GET AI Daily Summary do wiadomości Telegram\nconst data = $input.first().json;\n\n// Pobierz pola z odpowiedzi API\nconst summary = data.summary || 'Brak podsumowania';\nconst insights = data.insights || [];\nconst recommendations = data.recommendations || [];\nconst generatedAt = data.generated_at ? new Date(data.generated_at).toLocaleString('pl-PL') : 'przed chwilą';\n\n// Zbuduj wiadomość w formacie podobnym do anomalii\nlet message = `📊 *PODSUMOWANIE GODZINOWE* 📊\\n\\n`;\nmessage += `*${summary}*\\n\\n`;\nmessage += `🔍 *Najważniejsze spostrzeżenia:*\\n`;\ninsights.forEach((insight, i) => {\n  message += `${i+1}. ${insight}\\n`;\n});\nmessage += `\\n💡 *Rekomendacje:*\\n`;\nrecommendations.forEach((rec, i) => {\n  message += `${i+1}. ${rec}\\n`;\n});\nmessage += `\\n⏱️ *Wygenerowano:* ${generatedAt}`;\n\n// Zwróć dane dla węzła Telegram\nreturn {\n  json: {\n    chat_id: \"YOUR_TELEGRAM_CHAT_ID\",\n    text: message,\n    parse_mode: \"Markdown\"\n  }\n};"
      },
      "id": "b88108ec-8efc-4b9b-8aff-3b5ad32ec3c5",
      "name": "Format Summary for Telegram.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 1440]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "fc2e3062-9160-4be5-b7fd-85546b6f45d6",
      "name": "telegram 1 hour summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [200, 1440]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-980, 1320],
      "id": "ba8c3c1f-4ca1-4a9f-8811-92b5e4580cf8",
      "name": "AI 1 hour summary"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ *ANOMALIA CENOWA co 15 minut*\n\n{{$json.message}}\n\n📊 *Symbole:* {{$json.affected_symbols.join(', ')}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "c2ffa0aa-c19e-456d-8583-d91807844fd2",
      "name": "telegram anomaly alert 15 min",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [200, 1660]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/ai/explain-anomaly",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "price_usd",
              "value": "={{ $json.price_usd }}"
            },
            {
              "name": "price_change_24h",
              "value": "={{ $json.price_change_24h }}"
            },
            {
              "name": "detected_at",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "id": "b48bf67c-8a29-419f-a642-cdb4daff99c8",
      "name": "Get AI Explanation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-420, 1600]
    },
    {
      "parameters": {},
      "id": "1287cc59-5d5d-4dbb-a6aa-4ec8b3f110f4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [-260, 1780]
    },
    {
      "parameters": {
        "jsCode": "// Deduplikacja – zostaw tylko jedną anomalię na symbol\nconst anomalies = $input.all().map(i => i.json);\nconst uniqueMap = new Map();\n\nfor (const anomaly of anomalies) {\n  const symbol = anomaly.symbol;\n  const currentChange = Math.abs(parseFloat(anomaly.price_change_24h));\n  \n  if (!uniqueMap.has(symbol) || currentChange > uniqueMap.get(symbol).absChange) {\n    uniqueMap.set(symbol, {\n      ...anomaly,\n      absChange: currentChange\n    });\n  }\n}\n\n// Zwróć tylko unikalne anomalie (jedna na symbol)\nconst uniqueAnomalies = Array.from(uniqueMap.values()).map(a => {\n  delete a.absChange;\n  return { json: a };\n});\n\nreturn uniqueAnomalies;"
      },
      "id": "3e8b4d8d-09d8-4ef3-9f00-0f8912c9827e",
      "name": "Deduplikacja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 1600]
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalize → Bulk SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize → Bulk SQL": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Prepare Cleanup SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cleanup SQL": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "GET BBC Business RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Open-Meteo Warsaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET BBC Business RSS": {
      "main": [
        [
          {
            "node": "Normalize News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize News": {
      "main": [
        [
          {
            "node": "INSERT news_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT news_articles": {
      "main": [
        [
          {
            "node": "Cleanup Old Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Open-Meteo Warsaw": {
      "main": [
        [
          {
            "node": "Normalize Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Weather": {
      "main": [
        [
          {
            "node": "INSERT weather_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Dashboard Overview": {
      "main": [
        [
          {
            "node": "GET AI Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET AI Daily Summary": {
      "main": [
        [
          {
            "node": "Prepare Cache SQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Summary for Telegram.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache SQL": {
      "main": [
        [
          {
            "node": "Cache AI Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15 Min (Anomaly Check)": {
      "main": [
        [
          {
            "node": "Check Price Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price Anomalies": {
      "main": [
        [
          {
            "node": "Anomaly Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly Found?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deduplikacja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Anomaly – Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log / Alert Anomaly": {
      "main": [
        [
          {
            "node": "Save Anomaly to DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "telegram anomaly alert 15 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary for Telegram.": {
      "main": [
        [
          {
            "node": "telegram 1 hour summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 1 hour summary": {
      "main": [
        [
          {
            "node": "GET Dashboard Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Explanation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Log / Alert Anomaly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplikacja": {
      "main": [
        [
          {
            "node": "Get AI Explanation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "REPLACE_WITH_YOUR_INSTANCE_ID"
  },
  "tags": [
    {
      "createdAt": "2026-04-03T14:49:31.584Z",
      "updatedAt": "2026-04-03T14:49:31.584Z",
      "id": "wYa9wEtluJUdKTQd",
      "name": "data-ingestion"
    },
    {
      "createdAt": "2026-04-03T14:49:31.621Z",
      "updatedAt": "2026-04-03T14:49:31.621Z",
      "id": "58Xz0ho8nBR9n8tg",
      "name": "news"
    },
    {
      "createdAt": "2026-04-03T14:49:31.604Z",
      "updatedAt": "2026-04-03T14:49:31.604Z",
      "id": "krXCaBpZJ2z2zJ2T",
      "name": "ai-insights"
    },
    {
      "createdAt": "2026-04-03T14:49:31.605Z",
      "updatedAt": "2026-04-03T14:49:31.605Z",
      "id": "qRAv3J2M6AytDZw4",
      "name": "weather"
    },
    {
      "createdAt": "2026-04-03T14:49:31.609Z",
      "updatedAt": "2026-04-03T14:49:31.609Z",
      "id": "QfLeDT35XkT7a63y",
      "name": "anomaly-detection"
    },
    {
      "createdAt": "2026-04-03T14:49:31.613Z",
      "updatedAt": "2026-04-03T14:49:31.613Z",
      "id": "A44DOwfs2mtic8hc",
      "name": "crypto"
    }
  ]
}
