n8n/workflows/workflow-3-daily-report.json
{
  "name": "3. Daily AI Report + Anomaly Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, -200],
      "id": "33333333-3333-3333-3333-333333333301",
      "name": "Weekdays 08:00"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/overview",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [240, -200],
      "id": "33333333-3333-3333-3333-333333333302",
      "name": "GET Dashboard Overview"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/ai/daily-summary",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, -200],
      "id": "33333333-3333-3333-3333-333333333303",
      "name": "GET AI Daily Summary"
    },
    {
      "parameters": {
        "jsCode": "const aiResult = $input.first().json;\nconst content = JSON.stringify(aiResult).replace(/'/g, \"''\");\nreturn [{\n  json: {\n    query: `INSERT INTO ai_insights (insight_type, content, generated_at)\\nVALUES ('daily_summary', '${content}'::jsonb, NOW())`,\n    summary: aiResult.summary || 'No summary',\n    insight_count: (aiResult.insights || []).length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -200],
      "id": "33333333-3333-3333-3333-333333333304",
      "name": "Prepare Cache SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [960, -200],
      "id": "33333333-3333-3333-3333-333333333305",
      "name": "Cache AI Insights",
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 100],
      "id": "33333333-3333-3333-3333-333333333306",
      "name": "Every 15 Min (Anomaly Check)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol, price_usd, price_change_24h, timestamp\nFROM crypto_prices\nWHERE timestamp >= NOW() - INTERVAL '15 minutes'\n  AND ABS(price_change_24h) > 5\nORDER BY ABS(price_change_24h) DESC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [240, 100],
      "id": "33333333-3333-3333-3333-333333333307",
      "name": "Check Price Anomalies",
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 100],
      "id": "33333333-3333-3333-3333-333333333308",
      "name": "Anomaly Found?"
    },
    {
      "parameters": {
        "jsCode": "const anomalies = $input.all().map(i => i.json);\n\nconst lines = anomalies.map(a =>\n  `${a.symbol}: USD ${parseFloat(a.price_usd).toFixed(2)} | change 24h: ${parseFloat(a.price_change_24h).toFixed(2)}%`\n).join('\\n');\n\nconsole.log('PRICE ANOMALY DETECTED:');\nconsole.log(lines);\n\nconst message = `Price anomaly detected:\\n${lines}`;\nconst content = JSON.stringify({\n  alert_type: 'price_anomaly',\n  affected_symbols: anomalies.map(a => a.symbol),\n  message,\n  detected_at: new Date().toISOString()\n}).replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    query: `INSERT INTO ai_insights (insight_type, content, generated_at)\\nVALUES ('price_anomaly', '${content}'::jsonb, NOW())`,\n    affected_symbols: anomalies.map(a => a.symbol),\n    message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 60],
      "id": "33333333-3333-3333-3333-333333333309",
      "name": "Log / Alert Anomaly"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [960, 60],
      "id": "33333333-3333-3333-3333-333333333310",
      "name": "Save Anomaly to DB",
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log('No price anomalies in the last 15 minutes.');\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 180],
      "id": "33333333-3333-3333-3333-333333333311",
      "name": "No Anomaly – Skip"
    }
  ],
  "connections": {
    "Weekdays 08:00": {
      "main": [
        [{ "node": "GET Dashboard Overview", "type": "main", "index": 0 }]
      ]
    },
    "GET Dashboard Overview": {
      "main": [[{ "node": "GET AI Daily Summary", "type": "main", "index": 0 }]]
    },
    "GET AI Daily Summary": {
      "main": [[{ "node": "Prepare Cache SQL", "type": "main", "index": 0 }]]
    },
    "Prepare Cache SQL": {
      "main": [[{ "node": "Cache AI Insights", "type": "main", "index": 0 }]]
    },
    "Every 15 Min (Anomaly Check)": {
      "main": [
        [{ "node": "Check Price Anomalies", "type": "main", "index": 0 }]
      ]
    },
    "Check Price Anomalies": {
      "main": [[{ "node": "Anomaly Found?", "type": "main", "index": 0 }]]
    },
    "Anomaly Found?": {
      "main": [
        [{ "node": "Log / Alert Anomaly", "type": "main", "index": 0 }],
        [{ "node": "No Anomaly – Skip", "type": "main", "index": 0 }]
      ]
    },
    "Log / Alert Anomaly": {
      "main": [[{ "node": "Save Anomaly to DB", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "59af3c6cc513318f53722a1b7ef9384c738c9d7867bc5fff66b7782ce7abe507"
  },
  "id": "daily-report-wf-03",
  "tags": [{ "name": "ai-insights" }, { "name": "anomaly-detection" }]
}
