n8n/workflows/workflow-2-news-weather.json
{
  "name": "2. News & Weather – Hourly Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Every Hour"
    },

    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "category", "value": "business" },
            { "name": "language",  "value": "en" },
            { "name": "pageSize",  "value": "10" },
            { "name": "apiKey",    "value": "={{ $env.NEWSAPI_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [240, -120],
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "GET NewsAPI Headlines"
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.articles || [];\n\nif (articles.length === 0) return [];\n\n// Escape apostrofów w tytułach/opisach żeby nie psuć SQL\nconst esc = (s) => (s || '').replace(/'/g, \"''\").substring(0, 500);\n\nconst rows = articles.map(a => {\n  const title  = esc(a.title);\n  const desc   = esc(a.description);\n  const source = esc(a.source?.name);\n  const url    = (a.url || '').substring(0, 1000);\n  const pubAt  = a.publishedAt || new Date().toISOString();\n  return `('${title}', '${desc}', '${source}', '${url}', '${pubAt}')`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    query: `INSERT INTO news_articles (title, description, source, url, published_at)\\nVALUES\\n${rows}\\nON CONFLICT DO NOTHING`,\n    article_count: articles.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, -120],
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Normalize News"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, -120],
      "id": "22222222-2222-2222-2222-222222222204",
      "name": "INSERT news_articles",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dashboard PostgreSQL"
        }
      }
    },

    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q",     "value": "Warsaw,PL" },
            { "name": "units", "value": "metric" },
            { "name": "appid", "value": "={{ $env.OPENWEATHER_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [240, 120],
      "id": "22222222-2222-2222-2222-222222222205",
      "name": "GET OpenWeather Warsaw"
    },
    {
      "parameters": {
        "jsCode": "const w = $input.first().json;\n\nconst city      = w.name || 'Warsaw';\nconst temp      = w.main?.temp ?? 0;\nconst humidity  = w.main?.humidity ?? 0;\nconst condition = w.weather?.[0]?.description || 'unknown';\n\nreturn [{\n  json: {\n    query: `INSERT INTO weather_data (city, temperature, humidity, weather_condition)\\nVALUES ('${city}', ${temp}, ${humidity}, '${condition}')`,\n    city,\n    temp,\n    condition\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 120],
      "id": "22222222-2222-2222-2222-222222222206",
      "name": "Normalize Weather"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 120],
      "id": "22222222-2222-2222-2222-222222222207",
      "name": "INSERT weather_data",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dashboard PostgreSQL"
        }
      }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM news_articles WHERE fetched_at < NOW() - INTERVAL '7 days';\nDELETE FROM weather_data WHERE timestamp < NOW() - INTERVAL '14 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 0],
      "id": "22222222-2222-2222-2222-222222222208",
      "name": "Cleanup Old Data",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Dashboard PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          { "node": "GET NewsAPI Headlines",  "type": "main", "index": 0 },
          { "node": "GET OpenWeather Warsaw", "type": "main", "index": 0 }
        ]
      ]
    },
    "GET NewsAPI Headlines": {
      "main": [[{ "node": "Normalize News", "type": "main", "index": 0 }]]
    },
    "Normalize News": {
      "main": [[{ "node": "INSERT news_articles", "type": "main", "index": 0 }]]
    },
    "INSERT news_articles": {
      "main": [[{ "node": "Cleanup Old Data", "type": "main", "index": 0 }]]
    },
    "GET OpenWeather Warsaw": {
      "main": [[{ "node": "Normalize Weather", "type": "main", "index": 0 }]]
    },
    "Normalize Weather": {
      "main": [[{ "node": "INSERT weather_data", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "news-weather-v1-2024",
  "meta": {
    "instanceId": "REPLACE_WITH_YOUR_N8N_INSTANCE_ID"
  },
  "id": "news-weather-wf-02",
  "tags": [
    { "name": "data-ingestion" },
    { "name": "news" },
    { "name": "weather" }
  ]
}
