n8n/workflows/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "[\"BTCUSDT\",\"ETHUSDT\",\"BNBUSDT\",\"SOLUSDT\",\"XRPUSDT\",\"ADAUSDT\",\"DOGEUSDT\",\"AVAXUSDT\",\"TRXUSDT\",\"DOTUSDT\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "43c46ce3-3e8d-4b4c-b70d-a130ed126e8d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [140, 540]
    },
    {
      "parameters": {
        "jsCode": "// Używamy $input.all(), aby pobrać wszystkie rekordy przekazane do węzła\nconst items = $input.all();\n\nconst rows = items.map(item => {\n  // Dane każdego tickera znajdują się wewnątrz właściwości .json\n  const t = item.json;\n  \n  const symbol = t.symbol.replace(\"USDT\", \"\");\n  const price  = parseFloat(t.lastPrice) || 0;\n  const vol    = Math.round(parseFloat(t.quoteVolume) || 0);\n  const change = parseFloat(t.priceChangePercent) || 0;\n  \n  return `('${symbol}', ${price.toFixed(8)}, 0, ${vol}, ${change.toFixed(4)})`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    query: `INSERT INTO crypto_prices (symbol, price_usd, market_cap, volume_24h, price_change_24h)\\nVALUES\\n${rows}\\nON CONFLICT DO NOTHING`,\n    count: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 540],
      "id": "8660bfb0-a7a5-4a40-bfcd-6e7a7bc0a733",
      "name": "Normalize → Bulk SQL"
    },
    {
      "parameters": {
        "jsCode": "// Opcjonalnie: cleanup starych danych (trzymaj tylko 30 dni historii)\nreturn [{\n  json: {\n    query: \"DELETE FROM crypto_prices WHERE timestamp < NOW() - INTERVAL '30 days'\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 540],
      "id": "bed2caa8-9e6e-4a88-828b-63237da17971",
      "name": "Prepare Cleanup SQL"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "68441206-8709-4e94-9a02-03c302af9092",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-160, 540]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "00e9e764-fe36-40a3-893a-bc4ed9cc59bc",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [720, 540],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query  }}",
        "options": {}
      },
      "id": "b1e08c1e-4c69-42ef-8942-b60e0106f12c",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1280, 440],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-160, 880],
      "id": "48429281-1826-4933-a5a0-a28ee5c03089",
      "name": "Every Hour"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/business/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [140, 760],
      "id": "881c8960-fc52-4b43-807a-11d9869b2f78",
      "name": "GET BBC Business RSS"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().slice(0, 10);\n\nif (items.length === 0) return [];\n\nconst esc = (s) => (s || '')\n  .replace(/'/g, \"''\")\n  .replace(/\\$(\\d)/g, '$ $1')\n  .substring(0, 500);\n\nconst rows = items.map(item => {\n  const a = item.json;\n  const title  = esc(a.title);\n  const desc   = esc(a.content || a.summary || a.description || '');\n  const url    = (a.link || '').substring(0, 1000);\n  const pubAt  = a.pubDate || a.isoDate || new Date().toISOString();\n  return `('${title}', '${desc}', 'BBC Business', '${url}', '${pubAt}')`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    query: `INSERT INTO news_articles (title, description, source, url, published_at)\\nVALUES\\n${rows}\\nON CONFLICT DO NOTHING`,\n    article_count: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 760],
      "id": "fc741f39-9116-485a-b110-0a118ba75aa3",
      "name": "Normalize News"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [720, 760],
      "id": "659aacb4-68f8-40f4-abe7-37d913dc49a9",
      "name": "INSERT news_articles",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "52.23"
            },
            {
              "name": "longitude",
              "value": "21.01"
            },
            {
              "name": "current",
              "value": "temperature_2m,relative_humidity_2m,weather_code"
            },
            {
              "name": "timezone",
              "value": "Europe/Warsaw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [140, 980],
      "id": "e820af6d-864f-4879-a46c-bf0756a0785d",
      "name": "GET Open-Meteo Warsaw"
    },
    {
      "parameters": {
        "jsCode": "const w = $input.first().json;\n\nconst current  = w.current || {};\nconst temp     = current.temperature_2m ?? 0;\nconst humidity = current.relative_humidity_2m ?? 0;\n\n// WMO weather code to description\nconst wmoDesc = {\n  0: 'clear sky', 1: 'mainly clear', 2: 'partly cloudy', 3: 'overcast',\n  45: 'foggy', 48: 'icy fog', 51: 'light drizzle', 53: 'moderate drizzle',\n  55: 'heavy drizzle', 61: 'light rain', 63: 'moderate rain', 65: 'heavy rain',\n  71: 'light snow', 73: 'moderate snow', 75: 'heavy snow', 80: 'rain showers',\n  85: 'snow showers', 95: 'thunderstorm', 99: 'thunderstorm with hail'\n};\nconst code      = current.weather_code ?? 0;\nconst condition = (wmoDesc[code] || 'unknown').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    query: `INSERT INTO weather_data (city, temperature, humidity, weather_condition)\\nVALUES ('Warsaw', ${temp}, ${humidity}, '${condition}')`,\n    city: 'Warsaw',\n    temp,\n    humidity,\n    condition\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 980],
      "id": "26238844-d75f-4cb5-baa3-aab7cea2b28c",
      "name": "Normalize Weather"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [720, 980],
      "id": "3b2954f1-e9e0-4402-aafb-411caac6a609",
      "name": "INSERT weather_data",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM news_articles WHERE fetched_at < NOW() - INTERVAL '7 days';\nDELETE FROM weather_data WHERE timestamp < NOW() - INTERVAL '14 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1020, 880],
      "id": "a9f25149-cd62-475a-97dd-4fa83513d42b",
      "name": "Cleanup Old Data",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/overview",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [160, 1300],
      "id": "fec6ffa5-f095-414b-be10-067eaba7fd4e",
      "name": "GET Dashboard Overview"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/ai/daily-summary",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 1300],
      "id": "b7c86acd-b043-4dc4-828d-29ce350b8323",
      "name": "GET AI Daily Summary"
    },
    {
      "parameters": {
        "jsCode": "const aiResult = $input.first().json;\nconst content = JSON.stringify(aiResult).replace(/'/g, \"''\");\nreturn [{\n  json: {\n    query: `INSERT INTO ai_insights (insight_type, content, generated_at)\\nVALUES ('daily_summary', '${content}'::jsonb, NOW())`,\n    summary: aiResult.summary || 'No summary',\n    insight_count: (aiResult.insights || []).length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 1180],
      "id": "7f91f169-d14b-4007-a610-f8b07ada36f3",
      "name": "Prepare Cache SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1020, 1180],
      "id": "15d85969-d529-423d-9f16-d7ebfdb934a3",
      "name": "Cache AI Insights",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-340, 1760],
      "id": "6a120c7f-dcb1-41bb-98db-96c1e453afc1",
      "name": "Every 15 Min (Anomaly Check)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol, price_usd, price_change_24h, timestamp\nFROM crypto_prices\nWHERE timestamp >= NOW() - INTERVAL '15 minutes'\n  AND ABS(price_change_24h) > 5\nORDER BY ABS(price_change_24h) DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [100, 1760],
      "id": "c5fb726c-17b7-41ec-9a3a-e6f2bb511ce5",
      "name": "Check Price Anomalies",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [280, 1760],
      "id": "ce880cb8-c5f2-48f6-ae75-632f5fe9c626",
      "name": "Anomaly Found?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\n// ODFILTRUJ TYLKO POPRAWNE ANOMALIE (z symbolem i ceną)\nconst anomalies = items.filter(i => i.symbol && i.price_usd && !isNaN(parseFloat(i.price_usd)));\n\n// ODFILTRUJ TYLKO POPRAWNE WYJAŚNIENIA (z explanation, bez symbolu)\nconst explanations = items.filter(i => i.explanation && !i.symbol);\n\nconsole.log(`Znaleziono ${anomalies.length} anomalii i ${explanations.length} wyjaśnień`);\n\n// Weź tylko tyle wyjaśnień ile jest anomalii\nconst limitedExplanations = explanations.slice(0, anomalies.length);\n\n// Zbuduj listę anomalii (bez wyjaśnień w środku)\nconst anomalyLines = anomalies.map(a => {\n  const price = parseFloat(a.price_usd).toFixed(2);\n  const change = parseFloat(a.price_change_24h).toFixed(2);\n  return `${a.symbol}: USD ${price} | change 24h: ${change}%`;\n}).join('\\n');\n\n// Zbuduj listę wyjaśnień (osobno, na dole)\nconst explanationLines = limitedExplanations.map((e, idx) => {\n  return `${idx+1}. ${e.explanation}`;\n}).join('\\n\\n---\\n\\n');\n\n// Połącz wiadomość\nconst message = `⚠️ *ANOMALIE CENOWE (${anomalies.length})*\\n\\n${anomalyLines}\\n\\n---\\n🤖 *WYJAŚNIENIA:*\\n\\n${explanationLines}`;\n\n// Zapisz wszystko do bazy\nconst allExplanations = limitedExplanations.map(e => e.explanation).join('\\n---\\n');\n\nconst content = JSON.stringify({\n  alert_type: 'price_anomaly',\n  affected_symbols: anomalies.map(a => a.symbol),\n  message: message,\n  detailed_explanations: allExplanations,\n  detected_at: new Date().toISOString()\n}).replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    query: `INSERT INTO ai_insights (insight_type, content, generated_at) VALUES ('price_anomaly', '${content}'::jsonb, NOW())`,\n    affected_symbols: anomalies.map(a => a.symbol),\n    message: message,\n    explanation: allExplanations\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 1760],
      "id": "756df9fe-007f-4714-b245-12d2cbbd96c6",
      "name": "Log / Alert Anomaly"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1240, 1900],
      "id": "ef84a19b-2924-4d1c-ae38-903608eda99d",
      "name": "Save Anomaly to DB",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log('No price anomalies in the last 15 minutes.');\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 1980],
      "id": "17b61b77-1adb-4c22-9afd-ce9c126d645e",
      "name": "No Anomaly – Skip"
    },
    {
      "parameters": {
        "jsCode": "// Formatowanie odpowiedzi z GET AI Daily Summary do wiadomości Telegram\nconst data = $input.first().json;\n\n// Pobierz pola z odpowiedzi API\nconst summary = data.summary || 'Brak podsumowania';\nconst insights = data.insights || [];\nconst recommendations = data.recommendations || [];\nconst generatedAt = data.generated_at ? new Date(data.generated_at).toLocaleString('pl-PL') : 'przed chwilą';\n\n// Zbuduj wiadomość w formacie podobnym do anomalii\nlet message = `📊 *PODSUMOWANIE GODZINOWE* 📊\\n\\n`;\nmessage += `*${summary}*\\n\\n`;\nmessage += `🔍 *Najważniejsze spostrzeżenia:*\\n`;\ninsights.forEach((insight, i) => {\n  message += `${i+1}. ${insight}\\n`;\n});\nmessage += `\\n💡 *Rekomendacje:*\\n`;\nrecommendations.forEach((rec, i) => {\n  message += `${i+1}. ${rec}\\n`;\n});\nmessage += `\\n⏱️ *Wygenerowano:* ${generatedAt}`;\n\n// Zwróć dane dla węzła Telegram\nreturn {\n  json: {\n    chat_id: \"YOUR_TELEGRAM_CHAT_ID\",   // Twój Chat ID (ten sam co dla anomalii)\n    text: message,\n    parse_mode: \"Markdown\"\n  }\n};"
      },
      "id": "63f66f1c-1acd-4dc9-a4da-9c1357f26eb2",
      "name": "Format Summary for Telegram.",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 1420]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b914d914-410e-4a43-9ba6-c8c470c32f7b",
      "name": "telegram 1 hour summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1020, 1420],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-160, 1300],
      "id": "d0f0cbaf-e6e4-4e95-98cd-b1f510604175",
      "name": "AI 1 hour summary"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ *ANOMALIA CENOWA co 15 minut*\n\n{{$json.message}}\n\n📊 *Symbole:* {{$json.affected_symbols.join(', ')}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "dca209e3-cead-4547-89e5-832dd5a6d09d",
      "name": "telegram anomaly alert 15 min",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1240, 1640],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/ai/explain-anomaly",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "price_usd",
              "value": "={{ $json.price_usd }}"
            },
            {
              "name": "price_change_24h",
              "value": "={{ $json.price_change_24h }}"
            },
            {
              "name": "detected_at",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "id": "758f2920-b4de-492d-b047-87de22112553",
      "name": "Get AI Explanation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 1580]
    },
    {
      "parameters": {},
      "id": "a282b5a6-8608-4ebb-8932-2d230f24ea5d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [780, 1760]
    },
    {
      "parameters": {
        "jsCode": "// Deduplikacja – zostaw tylko jedną anomalię na symbol\nconst anomalies = $input.all().map(i => i.json);\nconst uniqueMap = new Map();\n\nfor (const anomaly of anomalies) {\n  const symbol = anomaly.symbol;\n  const currentChange = Math.abs(parseFloat(anomaly.price_change_24h));\n  \n  if (!uniqueMap.has(symbol) || currentChange > uniqueMap.get(symbol).absChange) {\n    uniqueMap.set(symbol, {\n      ...anomaly,\n      absChange: currentChange\n    });\n  }\n}\n\n// Zwróć tylko unikalne anomalie (jedna na symbol)\nconst uniqueAnomalies = Array.from(uniqueMap.values()).map(a => {\n  delete a.absChange;\n  return { json: a };\n});\n\nreturn uniqueAnomalies;"
      },
      "id": "8c3fc2fb-fe27-41ac-9a02-bb40fe3d006f",
      "name": "Deduplikacja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 1580]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    table_name,\n    last_successful_ts,\n    EXTRACT(EPOCH FROM (NOW() - last_successful_ts)) / 60 AS minutes_ago\nFROM dq_metadata\nWHERE last_successful_ts < NOW() - INTERVAL '15 minutes'",
        "options": {}
      },
      "id": "19fd1728-7725-43b9-87c1-060a0f81b73b",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [-320, 1560],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "3ea6cf01-7eda-4d9b-b23e-f4b15f3cdc87",
              "leftValue": "={{ $json.table_name }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "137bda73-4a11-4f08-8fc1-c15be1175267",
              "leftValue": "=",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "8f59e605-5b49-4091-b637-45f0910f3d10",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-100, 1560]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ <b>DATA FRESHNESS ALERT</b> ⚠️\n\n<b>Table:</b> {{ $json.table_name }}\n<b>Last successful update:</b> {{ $json.last_successful_ts }}\n<b>Delay:</b> {{ $json.minutes_ago }} minutes\n\nPlease check the data pipeline!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "47a49c43-f7f8-40cd-9299-0e0cbc56af36",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [120, 1540],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalize → Bulk SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize → Bulk SQL": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Prepare Cleanup SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cleanup SQL": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "GET BBC Business RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Open-Meteo Warsaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET BBC Business RSS": {
      "main": [
        [
          {
            "node": "Normalize News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize News": {
      "main": [
        [
          {
            "node": "INSERT news_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT news_articles": {
      "main": [
        [
          {
            "node": "Cleanup Old Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Open-Meteo Warsaw": {
      "main": [
        [
          {
            "node": "Normalize Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Weather": {
      "main": [
        [
          {
            "node": "INSERT weather_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Dashboard Overview": {
      "main": [
        [
          {
            "node": "GET AI Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET AI Daily Summary": {
      "main": [
        [
          {
            "node": "Prepare Cache SQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Summary for Telegram.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache SQL": {
      "main": [
        [
          {
            "node": "Cache AI Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15 Min (Anomaly Check)": {
      "main": [
        [
          {
            "node": "Check Price Anomalies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price Anomalies": {
      "main": [
        [
          {
            "node": "Anomaly Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly Found?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deduplikacja",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Anomaly – Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log / Alert Anomaly": {
      "main": [
        [
          {
            "node": "Save Anomaly to DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "telegram anomaly alert 15 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary for Telegram.": {
      "main": [
        [
          {
            "node": "telegram 1 hour summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 1 hour summary": {
      "main": [
        [
          {
            "node": "GET Dashboard Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Explanation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Log / Alert Anomaly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplikacja": {
      "main": [
        [
          {
            "node": "Get AI Explanation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73551f2f-aea7-444d-8330-a159f0d3ff24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REPLACE_WITH_YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": [
    {
      "createdAt": "2026-04-03T14:49:31.584Z",
      "updatedAt": "2026-04-03T14:49:31.584Z",
      "id": "wYa9wEtluJUdKTQd",
      "name": "data-ingestion"
    },
    {
      "createdAt": "2026-04-03T14:49:31.621Z",
      "updatedAt": "2026-04-03T14:49:31.621Z",
      "id": "58Xz0ho8nBR9n8tg",
      "name": "news"
    },
    {
      "createdAt": "2026-04-03T14:49:31.604Z",
      "updatedAt": "2026-04-03T14:49:31.604Z",
      "id": "krXCaBpZJ2z2zJ2T",
      "name": "ai-insights"
    },
    {
      "createdAt": "2026-04-03T14:49:31.605Z",
      "updatedAt": "2026-04-03T14:49:31.605Z",
      "id": "qRAv3J2M6AytDZw4",
      "name": "weather"
    },
    {
      "createdAt": "2026-04-03T14:49:31.609Z",
      "updatedAt": "2026-04-03T14:49:31.609Z",
      "id": "QfLeDT35XkT7a63y",
      "name": "anomaly-detection"
    },
    {
      "createdAt": "2026-04-03T14:49:31.613Z",
      "updatedAt": "2026-04-03T14:49:31.613Z",
      "id": "A44DOwfs2mtic8hc",
      "name": "crypto"
    }
  ]
}
