n8n/workflows/workflow-1-crypto.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "[\"BTCUSDT\",\"ETHUSDT\",\"BNBUSDT\",\"SOLUSDT\",\"XRPUSDT\",\"ADAUSDT\",\"DOGEUSDT\",\"AVAXUSDT\",\"TRXUSDT\",\"DOTUSDT\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "516acab3-1007-4d9f-9679-ecba4000d367",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "// Używamy $input.all(), aby pobrać wszystkie rekordy przekazane do węzła\nconst items = $input.all();\n\nconst rows = items.map(item => {\n  // Dane każdego tickera znajdują się wewnątrz właściwości .json\n  const t = item.json;\n  \n  const symbol = t.symbol.replace(\"USDT\", \"\");\n  const price  = parseFloat(t.lastPrice) || 0;\n  const vol    = Math.round(parseFloat(t.quoteVolume) || 0);\n  const change = parseFloat(t.priceChangePercent) || 0;\n  \n  return `('${symbol}', ${price.toFixed(8)}, 0, ${vol}, ${change.toFixed(4)})`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    query: `INSERT INTO crypto_prices (symbol, price_usd, market_cap, volume_24h, price_change_24h)\\nVALUES\\n${rows}\\nON CONFLICT DO NOTHING`,\n    count: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        720
      ],
      "id": "76d8924c-af18-445d-8d8a-3c814faa0c80",
      "name": "Normalize → Bulk SQL"
    },
    {
      "parameters": {
        "jsCode": "// Opcjonalnie: cleanup starych danych (trzymaj tylko 30 dni historii)\nreturn [{\n  json: {\n    query: \"DELETE FROM crypto_prices WHERE timestamp < NOW() - INTERVAL '30 days'\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        820
      ],
      "id": "099fec7f-dccb-44fe-a7d3-001840da3ed5",
      "name": "Prepare Cleanup SQL"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "060d804f-58df-4682-9f5b-05c1936ed636",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        860
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "c42dc072-931d-427a-b890-a2b3a7981331",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1240,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query  }}",
        "options": {}
      },
      "id": "6831d874-1c8e-4a09-b8a3-4255c4f1642f",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1640,
        880
      ],
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalize → Bulk SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize → Bulk SQL": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Prepare Cleanup SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cleanup SQL": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a3aa814-d110-4f5c-ada2-42a96672a6d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59af3c6cc513318f53722a1b7ef9384c738c9d7867bc5fff66b7782ce7abe507"
  },
  "id": "cLi7IHhq4zetMIx5",
  "tags": [
    {
      "createdAt": "2026-03-18T10:45:43.520Z",
      "updatedAt": "2026-03-18T10:45:43.520Z",
      "id": "hgmBlQaITKzkQxs5",
      "name": "data-ingestion"
    },
    {
      "createdAt": "2026-03-18T10:45:43.560Z",
      "updatedAt": "2026-03-18T10:45:43.560Z",
      "id": "fN1o5PWzycovFEk4",
      "name": "crypto"
    }
  ]
}