n8n/workflows/workflow-2-news-weather.json
{
  "name": "2. News & Weather – Hourly Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Every Hour"
    },

    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/business/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [240, -120],
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "GET BBC Business RSS"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().slice(0, 10);\n\nif (items.length === 0) return [];\n\nconst esc = (s) => (s || '').replace(/'/g, \"''\").substring(0, 500);\n\nconst rows = items.map(item => {\n  const a = item.json;\n  const title  = esc(a.title);\n  const desc   = esc(a.content || a.summary || a.description || '');\n  const url    = (a.link || '').substring(0, 1000);\n  const pubAt  = a.pubDate || a.isoDate || new Date().toISOString();\n  return `('${title}', '${desc}', 'BBC Business', '${url}', '${pubAt}')`;\n}).join(',\\n');\n\nreturn [{\n  json: {\n    query: `INSERT INTO news_articles (title, description, source, url, published_at)\\nVALUES\\n${rows}\\nON CONFLICT DO NOTHING`,\n    article_count: items.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, -120],
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Normalize News"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [720, -120],
      "id": "22222222-2222-2222-2222-222222222204",
      "name": "INSERT news_articles",
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    },

    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "latitude",  "value": "52.23" },
            { "name": "longitude", "value": "21.01" },
            { "name": "current",   "value": "temperature_2m,relative_humidity_2m,weather_code" },
            { "name": "timezone",  "value": "Europe/Warsaw" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [240, 120],
      "id": "22222222-2222-2222-2222-222222222205",
      "name": "GET Open-Meteo Warsaw"
    },
    {
      "parameters": {
        "jsCode": "const w = $input.first().json;\n\nconst current  = w.current || {};\nconst temp     = current.temperature_2m ?? 0;\nconst humidity = current.relative_humidity_2m ?? 0;\n\n// WMO weather code to description\nconst wmoDesc = {\n  0: 'clear sky', 1: 'mainly clear', 2: 'partly cloudy', 3: 'overcast',\n  45: 'foggy', 48: 'icy fog', 51: 'light drizzle', 53: 'moderate drizzle',\n  55: 'heavy drizzle', 61: 'light rain', 63: 'moderate rain', 65: 'heavy rain',\n  71: 'light snow', 73: 'moderate snow', 75: 'heavy snow', 80: 'rain showers',\n  85: 'snow showers', 95: 'thunderstorm', 99: 'thunderstorm with hail'\n};\nconst code      = current.weather_code ?? 0;\nconst condition = (wmoDesc[code] || 'unknown').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    query: `INSERT INTO weather_data (city, temperature, humidity, weather_condition)\\nVALUES ('Warsaw', ${temp}, ${humidity}, '${condition}')`,\n    city: 'Warsaw',\n    temp,\n    humidity,\n    condition\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 120],
      "id": "22222222-2222-2222-2222-222222222206",
      "name": "Normalize Weather"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [720, 120],
      "id": "22222222-2222-2222-2222-222222222207",
      "name": "INSERT weather_data",
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM news_articles WHERE fetched_at < NOW() - INTERVAL '7 days';\nDELETE FROM weather_data WHERE timestamp < NOW() - INTERVAL '14 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [960, 0],
      "id": "22222222-2222-2222-2222-222222222208",
      "name": "Cleanup Old Data",
      "credentials": {
        "postgres": {
          "id": "L6EfjENe1Io6XlVz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          { "node": "GET BBC Business RSS",  "type": "main", "index": 0 },
          { "node": "GET Open-Meteo Warsaw", "type": "main", "index": 0 }
        ]
      ]
    },
    "GET BBC Business RSS": {
      "main": [[{ "node": "Normalize News", "type": "main", "index": 0 }]]
    },
    "Normalize News": {
      "main": [[{ "node": "INSERT news_articles", "type": "main", "index": 0 }]]
    },
    "INSERT news_articles": {
      "main": [[{ "node": "Cleanup Old Data", "type": "main", "index": 0 }]]
    },
    "GET Open-Meteo Warsaw": {
      "main": [[{ "node": "Normalize Weather", "type": "main", "index": 0 }]]
    },
    "Normalize Weather": {
      "main": [[{ "node": "INSERT weather_data", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "59af3c6cc513318f53722a1b7ef9384c738c9d7867bc5fff66b7782ce7abe507"
  },
  "id": "news-weather-wf-02",
  "tags": [
    { "name": "data-ingestion" },
    { "name": "news" },
    { "name": "weather" }
  ]
}
